<div
  class="container-fluid"
  id="contenedor"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="150"
  [infiniteScrollContainer]="selector"
  [fromRoot]="true"
  (scrolled)="filterNextPage()"
>
  <app-filters-anime
    [initGenres]="generos"
    (filter)="statusFilters($event)"
    (convertImage)="searchLucky($event)"
  ></app-filters-anime>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="ListaPagina && Animes.length; else noExist">
    <app-anime-item
      *ngFor="let anime of Animes"
      [elemAnime]="anime"
      (animeModalSelect)="openUpdateModal($event)"
    >
    </app-anime-item>
  </div>

  <ng-template #noExist>
    <h1>No existen animes a mostrar</h1>
  </ng-template>
</div>

<ng-container #vc> </ng-container>

<ng-template #ModalSearch>
  <app-potential-results
    [arrayAnimes]="arrayId"
    (finishedModal)="closeModal()"
    (selected)="closeModal()"
  ></app-potential-results>
</ng-template>

<ng-template #ModalUpdate>
  <app-update-anime
    [dataSelectAnime]="dataModalUpdate"
    (finishedModal)="closeModal()"
  ></app-update-anime>
</ng-template>
