<div class="container-fluid" id="contenedorAnimes">
  <div>Login/SignUp</div>
  <form>
    <div>
      <input
        type="search"
        name="search"
        [(ngModel)]="textSearch"
        (keyup)="searchText($event)"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
  </form>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="ListaPagina && Animes.length; else noExist">
    <app-anime-item
      *ngFor="let anime of Animes"
      [elemAnime]="anime"
      (selectAnime)="openModal(anime)"
    ></app-anime-item>
    <div>
      <p href="#">
        <a
          href="#"
          (click)="updatePage($event, 'back')"
          *ngIf="pageInfo.currentPage > 1"
        >
          &laquo;
        </a>
        {{ pageInfo.currentPage }}
        <a
          *ngIf="pageInfo.hasNextPage"
          href="#"
          (click)="updatePage($event, 'next')"
        >
          &laquo;
        </a>
      </p>
    </div>
  </div>

  <ng-template #noExist>
    <h1>No existen animes a mostrar</h1>
  </ng-template>
</div>

<ng-container #modalOpened> </ng-container>

<ng-template  #modalAddAnime>
 <app-update-anime [dataSelectAnime]="selectAnime" (finishedModal)="close()" ></app-update-anime>
</ng-template>
