<div id="containerAnimes">
  <div class="spinnerLoading" *ngIf="loading; else dataLoaded">
    <mat-spinner color="accent" *ngIf="loading"></mat-spinner>
    <div>
      <span class="data-error" *ngIf="problemData"
        >Search will take longer</span
      >
    </div>
  </div>

  <ng-template #dataLoaded>
    <div>
      <form fxLayout fxLayoutAlign="center center">
        <mat-form-field class="quickSearch" appearance="outline" color="accent">
          <mat-label>Quick Search</mat-label>
          <input
            class="textSearch"
            type="search"
            name="search"
            matInput
            [(ngModel)]="textSearch"
            (keyup)="searchText($event)"
            placeholder="Search anime"
            aria-label="Search anime"
          />
        </mat-form-field>
      </form>
    </div>

    <div *ngIf="Animes.length; else noExist">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-anime-item
          *ngFor="let anime of Animes"
          [elemAnime]="anime"
          (animeModalSelect)="showDialog(anime)"
        ></app-anime-item>
      </div>
      <mat-paginator
        #paginator
        [pageIndex]="pageIndex"
        [length]="recordCount"
        [pageSize]="20"
        [showFirstLastButtons]="true"
        (page)="pageEvent = $event; onPageChange($event)"
      ></mat-paginator>
    </div>
  </ng-template>

  <ng-template #noExist>
    <h1>No existen animes a mostrar</h1>
  </ng-template>
</div>

