<form [formGroup]="formSearch" novalidate>
  <div class="form-group">
    <label class="col-form-label" for="buscadorAvanzado">Busqueda</label>
    <input
      class="form-control"
      formControlName="inputSearch"
      type="search"
      name="buscadorAvanzado"
      id="buscadorAvanzado"
      [(ngModel)]="filterSearch"
      (keyup)="reviseVariables()"
    />
    <label class="col-form-label" for="isAdult"> Contenido Adulto </label>
    <select
      class="form-control-sm"
      formControlName="isAdult"
      name="isAdult"
      id="isAdult"
    >
      <option value="{{ false }}" selected>No</option>
      <option value="{{ true }}">Si</option>
    </select>

    <button
      class="btn btn-outline-primary dropdown-btn"
      (click)="toggleGenres($event)"
    >
      Genre
    </button>

    <label class="form-label" for="year">Año</label>

    <select
      class="form-control-sm"
      name="year"
      id="year"
      (change)="selectDateAnime($event)"
      formControlName="dateAnime"
    >
      <option value="" selected disabled>Any</option>
      <option *ngFor="let selectYear of yearOptions" [ngValue]="selectYear">
        {{ selectYear }}
      </option>
    </select>

    <label class="form-group" for="season">Season</label>
    <select
      class="form-control-sm"
      name="season"
      id="season"
      (change)="selectSeason($event)"
      formControlName="season"
    >
      <option value="" selected disabled>Select a season</option>
      <option *ngFor="let estacion of initSeason" [ngValue]="estacion">
        {{ estacion }}
      </option>
    </select>

    <label for="status">Status</label>
    <select
      class="form-control-sm"
      name="status"
      id="status"
      (change)="selectStatus($event)"
      formControlName="status"
    >
      <option value="" selected disabled>Select a status</option>
      <option *ngFor="let stats of initStatus" [ngValue]="stats">
        {{ stats }}
      </option>
    </select>

    <label for="source">Source</label>
    <select
      class="form-control-sm"
      name="source"
      id="source"
      (change)="selectSource($event)"
      formControlName="sourceAnime"
    >
      <option value="" selected disabled>Select a source</option>
      <option *ngFor="let source of initSource" [ngValue]="source">
        {{ source }}
      </option>
    </select>

    <div *ngIf="genre">
      <div class="form-check-inline form-group" *ngFor="let gen of initGenres">
        <input
          class="form-check-input"
          type="checkbox"
          name="{{ gen }}"
          id="{{ gen }}"
          [value]="gen"
          (change)="selectsGenres($event)"
        />
        <label class="form-check-label" for="{{ gen }}">{{ gen }}</label>
      </div>
    </div>

    <input
      type="file"
      class="form-control-file"
      name="searchImage"
      id="searchImage"
      #imageSearch
      (change)="loadImage(imageSearch)"
      accept="image/*"
    />

    <div *ngIf="loadedImage">
      <img [src]="loadedImage" alt="" width="500" height="400" />
    </div>
  </div>
</form>
