<div class="bgForm">
  <form
    [formGroup]="formSearch"
    novalidate
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field
      class="advancedSearch"
      appearance="outline"
      id="inputAdvanced"
    >
      <mat-label for="buscadorAvanzado">Search</mat-label>
      <input
        matInput
        formControlName="inputSearch"
        type="search"
        name="buscadorAvanzado"
        id="buscadorAvanzado"
        (keyup)="reviseVariables()"
        placeholder="Search Advanced"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px">
      <mat-form-field>
        <mat-label for="isAdult"> Adult Content </mat-label>

        <mat-select
          class="form-control-sm"
          (selectionChange)="selectAdult($event); reviseVariables()"
          formControlName="isAdult"
          name="isAdult"
          id="isAdult"
        >
          <mat-option [value]="false" selected>No</mat-option>
          <mat-option [value]="true">Si</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Year </mat-label>
        <mat-select
          class="form-control-sm"
          name="year"
          id="year"
          (selectionChange)="selectDateAnime($event); reviseVariables()"
          formControlName="dateAnime"
        >
          <mat-option value="" selected disabled>Select a year</mat-option>
          <mat-option
            *ngFor="let selectYear of yearOptions"
            [value]="selectYear"
          >
            {{ selectYear }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label class="form-group" for="season">Season</mat-label>
        <mat-select
          class="form-control-sm"
          name="season"
          id="season"
          (selectionChange)="selectSeason($event); reviseVariables()"
          formControlName="season"
        >
          <mat-option value="" selected disabled>Select a season</mat-option>
          <mat-option *ngFor="let estacion of initSeason" [value]="estacion">
            {{ estacion }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="status">Status</mat-label>
        <mat-select
          class="form-control-sm"
          name="status"
          id="status"
          (selectionChange)="selectStatus($event); reviseVariables()"
          formControlName="status"
        >
          <mat-option value="" selected disabled>Select a status</mat-option>
          <mat-option *ngFor="let stats of initStatus" [value]="stats">
            {{ stats }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="source">Source</mat-label>
        <mat-select
          class="form-control-sm"
          name="source"
          id="source"
          (selectionChange)="selectSource($event); reviseVariables()"
          formControlName="sourceAnime"
        >
          <mat-option value="" selected disabled>Select a source</mat-option>
          <mat-option *ngFor="let source of initSource" [value]="source">
            {{ source }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button
        mat-raised-button
        color="accent"
        class="btn btn-outline-primary dropdown-btn"
        (click)="toggleGenres($event)"
      >Genre
      </button>


    </div>


    <div *ngIf="genreActive" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div
        class="form-check-inline form-group"
        *ngFor="let genre of initGenres"
      >
        <mat-checkbox
          class="form-check-input"
          value="{{ genre }}"
          (change)="selectsGenres($event); reviseVariables()"
        >
          {{ genre }}
        </mat-checkbox>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" class="uploadFile">
      <div fxFlex="90" class="sizeFile">
        <mat-form-field class="file" appearance="outline" >
          <mat-label>Lucky Search</mat-label>
          <ngx-mat-file-input
            #imag
            (ngModelChange)="loadImage($event)"
            formControlName="file"
            placeholder="Required image"
            accept="image/*"
          ></ngx-mat-file-input>
          <mat-icon matSuffix>photo</mat-icon>
        </mat-form-field>
      </div>


      <div class="loadedImage" *ngIf="loadedImage">
        <div class="spinnerLucky"  *ngIf="loadingLucky">
          <mat-spinner color="accent"></mat-spinner>
        </div>
        <img id="potentialImg" (click)="openPreviousDialog()" [src]="loadedImage" alt="" />
      </div>
    </div>
  </form>
</div>
