<h1 mat-dialog-title>{{ dataSelectAnime.title.romaji }}</h1>
<hr />
<div mat-dialog-content fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
  <form [formGroup]="formUpdate" novalidate>
    <div>
      <mat-form-field appearance="outline">
        <mat-label for="status">Status</mat-label>
        <mat-select
          name="status"
          id="status"
          formControlName="statuEntry"
          (selectionChange)="changeStatusAnime($event)"
        >
          <mat-option value="" selected disabled
            >-- Select a status --</mat-option
          >
          <mat-option
            *ngFor="let statu of statuAnime"
            [value]="statu | uppercase"
          >
            {{ statu }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="!formUpdate.get('statuEntry')?.valid">
        <span
          *ngIf="
            !formUpdate.get('statuEntry')?.valid &&
            !formUpdate.get('statuEntry')?.touched
          "
          >Please select a status</span
        >
      </mat-error>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label for="progress">Episodes</mat-label>
        <input
          matInput
          type="number"
          name="progress"
          id="progress"
          formControlName="progressEpisodes"
        />
      </mat-form-field>
      <mat-error *ngIf="!formUpdate.get('progressEpisodes')?.valid">
        <p>
          <span *ngIf="!formUpdate.get('progressEpisodes')?.valid"
          >Minimun episodes is 1.</span
        >
        </p>

        <p>
          <span *ngIf="!formUpdate.get('progressEpisodes')?.valid"
          >This anime only have {{ dataSelectAnime.episodes }}</span>
        </p>

      </mat-error>
    </div>

    <div>
      <mat-form-field appearance="outline">

      <mat-label for="inicio">Inicio</mat-label>
      <input
      matInput
        type="date"
        name="inicio"
        formControlName="startedAt"
        (change)="changeStartedDate($event)"
      />
      </mat-form-field>
    </div>

    <div>

      <mat-form-field appearance="outline">

      <mat-label for="finalizado">Finalizado</mat-label>
      <input matInput type="date" name="finalizado" formControlName="completedAt" />
      </mat-form-field>

    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label for="notas">Notas</mat-label>
      <textarea matInput name="notas" formControlName="notesAnime"></textarea>
      </mat-form-field>

    </div>

    <div fxLayout fxLayoutGap="10px">
      <button mat-flat-button color="accent" (click)="closeModal()">Cancel</button>
    <button
    mat-raised-button
      color="primary"
      (click)="createEntry($event); closeModal()"
      *ngIf="!idListState; else NoIdEntry"
      [disabled]="!formUpdate.valid"
    >
      Create
    </button>

    <ng-template #NoIdEntry>
      <button
      mat-raised-button
        (click)="updateEntry($event); closeModal()"
        [disabled]="!formUpdate.valid"
      >
        Update
      </button>

      <button  mat-raised-button color="warn" (click)="deleteEntry($event)">
        Delete
      </button>
    </ng-template>
    </div>

  </form>
  <div class="coverDialog">
    <img [src]="dataSelectAnime.coverImage.large" alt="tituloAnime" />
  </div>
</div>
