<div class="modal modal-open" style="display: block" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title d-flex flex-row flex-end">
          <h4>{{ dataSelectAnime.title.romaji }}</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="modal-body d-flex flex-row">
        <div>
          <form>
            <select name="estado" id="estado">
              <option *ngFor="let status of estado" [ngValue]="status">
                {{ status }}
              </option>
            </select>

            <label for="progress">Episodes</label>
            <input type="number" name="progress" id="progress" />/<span
              >15</span
            >
            <label for="inicio">Inicio</label>
            <input type="date" name="inicio" />
            <label for="inicio"></label>
            <input type="date" name="finalizado" />

            <label for="notas">Notas</label>
            <input type="text" name="notas" />
            <button class="btn btn-danger" (click)="closeModal()">Cancel</button>
            <button
              class="btn btn-primary"
              (click)="eject($event); closeModal()"
            >
              SEND
            </button>
          </form>
        </div>

        <div>
          <img [src]="dataSelectAnime.coverImage.large" alt="tituloAnime" />
        </div>
      </div>
    </div>
  </div>
</div>
