<div class="containerContact" fxLayout="row" fxLayoutAlign="center center">
  <div class="cardContact">
    <form
      fxLayout="column"
      fxLayoutGap="20px"
      [formGroup]="formContact"
      (ngSubmit)="sendForm()"
    >
      <div fxLayout="row" fxLayoutGap="5px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label for="email"> E-mail </mat-label>

          <input matInput type="email" formControlName="email" />
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label for="username"> Username </mat-label>

          <input
            matInput
            type="text"
            name="username"
            formControlName="username"
          />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label for="subject">Subject</mat-label>
        <mat-select
          for="email"
          name="subject"
          formControlName="issues"
          (selectionChange)="changeSubject($event)"
        >
          <mat-option value="" selected disabled>Select an issue</mat-option>
          <mat-option value="{{ issue }}" *ngFor="let issue of subject">
            {{ issue }} </mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="anime"> Anime name </mat-label>

        <input matInput name="anime" formControlName="nameAnime" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="messaje"> Messaje </mat-label>

        <textarea matInput name="anime" formControlName="messaje" ></textarea>
      </mat-form-field>

      <div>
        <button mat-raised-button type="submit" [disabled]="!formContact.valid" >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
