<mat-toolbar
  class="grayColor"
  fxLayout
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
>
  <div>
    <ul fxLayout fxLayoutGap="20px" class="navigation-item">
      <li fxLayoutAlign="center center">
        <a style="cursor: pointer" (click)="volver($event)">Home</a>
      </li>
      <li fxLayoutAlign="center center">
        <a [routerLink]="['/Search']">Browse</a>
      </li>
      <li fxLayoutAlign="center center">
        <a [routerLink]="['/Contact']">Contact</a>
      </li>
      <li fxLayoutAlign="center center" >
        <!--<a mat-raised-button color="accent" *ngIf="!userLogged" href="https://anilist.co/api/v2/oauth/authorize?client_id=4530&response_type=token" >Login with Anilist</a>-->
        <a mat-raised-button color="accent" *ngIf="!userLogged" href="https://anilist.co/api/v2/oauth/authorize?client_id=4404&response_type=token" >Login with Anilist</a>
      </li>
    </ul>
  </div>

  <div fxLayout *ngIf="userLogged" fxLayoutGap="10px">
    <div
      *ngIf="userLogged.name"
      fxLayout
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <span>{{ userLogged.name }}</span>
      <img
        [src]="userLogged.avatar.medium"
        alt="{{ userLogged.name }}"
        width="45px"
        class="avatar-rounded"
      />
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-icon-button color="warn" (click)="userLogout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
