.grayColor{
  background-color: #965d62;
}
a {
  text-decoration: none;
  color: white;
}
a:hover, a:active {
  color: lightgray;
}
.navigation-item {
  list-style-type: none;
}

.avatar-rounded{
  border-radius: 100%;
  border: 2px solid #f2d974;
}
