<mat-card *ngIf="elemAnime.description;else browsePage">
  <mat-card-header>
    <mat-card-title>
      <h2> <a [routerLink]="['/detail/', elemAnime.id]" (click)="clickAnime()" > {{ elemAnime.title.romaji | truncatePipe : 30 : true }} </a> </h2>
    </mat-card-title>
  </mat-card-header>

  <div fxLayout fxLayoutGap="15px">
    <img class="imgCard" [routerLink]="['/detail/', elemAnime.id]" [src]="elemAnime.coverImage.large" [alt]="elemAnime.title.romaji" mat-card-image />
    <hr>
    <div>
      <mat-card-actions>
        <button mat-raised-button color="accent" *ngIf="Authentificated" (click)="openUpdateAnime()">
          {{ elemAnime.mediaListEntry?.status || "ADD"}}
        </button>
      </mat-card-actions>
      <mat-card-content>
        {{ elemAnime.description | truncatePipe}}
      </mat-card-content>
    </div>
  </div>
</mat-card>

<ng-template #browsePage>

<mat-card class="browseCard">
  <mat-card-header>
    <mat-card-title>
      <h2> <a [routerLink]="['/detail/', elemAnime.id]" (click)="clickAnime()" > {{ elemAnime.title.romaji | truncatePipe : 30 : true }} </a> </h2>
    </mat-card-title>
  </mat-card-header>

  <div fxLayout fxLayoutGap="15px" fxLayoutAlign="center center">
    <img class="imgCard" [routerLink]="['/detail/', elemAnime.id]" [src]="elemAnime.coverImage.large" [alt]="elemAnime.title.romaji" mat-card-image />
  </div>
</mat-card>
</ng-template>
