<div class="container-fluid " id="contenedorDetails">

  <div *ngIf="loading">
    <h2>Cargando</h2>
  </div>

  <div *ngIf="!loading">
    <img [src]="animeData.bannerImage" [alt]="animeData.title.userPreferred" width="350"/>
    <img [src]="animeData.coverImage.large" [alt]="animeData.title.romaji" />
    <h1>{{ animeData.title.userPreferred }}</h1>
    <button (click)="openModal(animeData)" >MODAL</button>
    <p>{{ animeData.description }}</p>

    <div>
      <p>{{ animeData.status }}</p>
      <p>Episodes: {{ animeData.episodes }}</p>
      <p>
        Start date: {{ animeData.startDate.day }}/{{
          animeData.startDate.month
        }}/{{ animeData.startDate.year }}
      </p>
      <p>
        End date: {{ animeData.endDate.day }}/{{ animeData.endDate.month }}/{{
          animeData.endDate.year
        }}
      </p>
      <h2>Studios</h2>
      <div *ngFor="let studio of animeData.studios.edges">
        <p>{{studio.node.name}}</p>
      </div>
    </div>

    <div *ngFor="let link of animeData.externalLinks">
      <p>
        <a [href]="link.url">{{ link.site }}</a>
      </p>
    </div>

    <div>
      <div *ngFor="let actor of castAnime">
        <div>
          <h2>Character</h2>
          <h3>{{ actor.node.name.full }}</h3>
          <h4>{{ actor.node.name.native }}</h4>
          <img src="{{ actor.node.image.medium }}" [alt]="actor.node.name.full" />
          <p>{{ actor.node.description }}</p>
        </div>

        <div>
          <h2>Voice Actor</h2>
          <h3>{{ actor.voiceActors[0].name.full }}</h3>
          <h4>{{ actor.voiceActors[0].name.native }}</h4>
          <img
            src="{{ actor.voiceActors[0].image.medium }}"
            [alt]="actor.voiceActors[0].name.full"
          />
        </div>
      </div>
    </div>

    <div *ngIf="animeData.trailer">
      <h1>Trailer</h1>
      <div>
        <iframe
          width="720"
          height="420"
          [src]="safeURL"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

  </div>
</div>


<ng-container #modalOpened> </ng-container>

<ng-template  #modalAddAnime>
 <app-update-anime [dataSelectAnime]="selectAnime" (finishedModal)="close()" ></app-update-anime>
</ng-template>
